@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    font-family: "JetBrains Mono", monospace;
    color: #fdfdfc;        
}
.header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.logo-font {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.duck {
  position: absolute;
  bottom: 0;
  right: 0; 
  width: 25px; 
  height: 25px; 
  background-image: url('https://emojicdn.elk.sh/🦆');
  background-size: contain;
  animation: walk 10s ease-in-out infinite;
}

/* Hide default scrollbars */
::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
    height: 5px; /* Height of horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track background color */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #313131; /* Scrollbar thumb color */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #202020; /* Scrollbar thumb color on hover */
  }
  
  /* Horizontal scrollbar */
  ::-webkit-scrollbar-thumb:horizontal {
    max-width: 5px;
  }
  
  /* Horizontal scrollbar track */
  ::-webkit-scrollbar-track:horizontal {
    background: #f1f1f1;
    border-radius: 6px;
  }
  
  /* Horizontal scrollbar thumb */
  ::-webkit-scrollbar-thumb:horizontal {
    background: #313131;
    border-radius: 6px;
  }
  
  /* Horizontal scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #202020;
  }
  

#bg {
  background-color: #02010a;
  opacity: 1;
  background-image: radial-gradient(#333456 2px, transparent 2px), radial-gradient(#333456 2px, #02010a 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  animation: moveBackground 5s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0, 40px 40px;
  }
  100% {
    background-position: 80px 80px, 120px 120px;
  }
}